.text-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
}

.pageName {
    font-size: 3rem;
    color: white;
    font-family: 'Guton', sans-serif;
}

.intro-container {
    position: fixed;
    top: 0px;
    z-index: 1000;
}
