<svg class="intro-container" [attr.width]="svgWidth" [attr.height]="svgHeight" preserveAspectRatio="none">

    <path [attr.d]="svgPath" fill="#ffffff" />

    <foreignObject [attr.x]="x" [attr.y]="y" [attr.width]="svgWidth" [attr.height]="svgHeight - 400">
        <div class="text-holder" xmlns="http://www.w3.org/1999/xhtml">
            <h1 style="color: #000000;" #textElement [attr.data-text]="pageTitle" class="{{ contentClassName }}">{{
                pageTitle }}</h1>
            <img class="logo-home" src="assets/icons/logo-black.svg">
        </div>
    </foreignObject>
</svg>