<div class="topbar-container d-flex align-items-center">
    <div class="logo-container">
        <a href="#" class="logo">Code by Ramz</a>
    </div>
    <div class="menu-container d-flex justify-content-center align-items-center">
        <a href="#" class="text" #textElement *ngFor="let item of textItems; 
        trackBy: trackByIndex" [attr.data-text]="item.text" (mouseenter)="onMouseEnter($event)"
            (mouseleave)="onMouseLeave($event)">
            {{ item.text }}
        </a>
    </div>
</div>