.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: 997;
    animation: fadeIn 0.3s 0.3s forwards;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.top-bar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 996;
}

.floating-menu-container {
    position: fixed;
    top: 0;
    transform: translateX(100%);
    z-index: 998;
}

button {
    padding: 0px;
    display: flex;
}

.floating-menu {
    position: fixed;
    background-color: #455CE9;
    width: 80px;
    top: 30px;
    right: 30px;
    border-radius: 50px;
    border: none;
    z-index: 999;
    cursor: pointer;
}

.floating-menu {
    overflow: hidden;
    cursor: pointer;
}

.floating-menu .hamburger {
    transition: translate 0.7s, rotate 0.7s;
}

.floating-menu[aria-expanded='true'] .hamburger {
    translate: 5px -5px;
    rotate: .124turn;
}

.floating-menu .line {
    transition: 0.7s;
    stroke-dasharray: 60 31 60 300;
}

.floating-menu[aria-expanded='true'] .line {
    stroke-dasharray: 60 103 60 300;
    stroke-dashoffset: -91;
}

.menu-icon {
    width: 40px;
    height: 40px;
}

.menu-content {
    width: 100%;
    height: 100%;
    background: transparent;
    justify-items: center;
}

.menu-content-child {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 30px;
}

.nav-header-tab {
    width: 100%;
    color: gray;
}

.menus-tab {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 30px;

    div {
        transform: translateX(50px);
        padding: 0px;
    }

    a {
        font-size: 5rem;
        cursor: pointer;
        text-decoration: none;
        color: #000000;
        line-height: 0.7;
    }
}

.socials-tab {
    width: 100%;
    color: gray;

    .socials-icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        gap: 20px;

        a {
            font-weight: 600;
            text-decoration: none;
            cursor: pointer;
            color: #455CE9;
        }
    }
}

.hash-container {
    width: 60px;
    align-content: end;
}

.menus {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 5px;
}

.menu0 .hash,
.menu1 .hash,
.menu2 .hash,
.menu3 .hash {
    transition: 0.7s ease-in-out;
    stroke-dasharray: 60 31 60 103 60 43 60 600;
    stroke-dashoffset: 430;
}

.menu0:hover .hash,
.menu1:hover .hash,
.menu2:hover .hash,
.menu3:hover .hash {
    stroke-dasharray: 60 31 60 103 60 43 60 600;
    stroke-dashoffset: 0;
}