<app-top-bar-test class="top-bar"></app-top-bar-test>
<div class="content">
    <app-page-loader #introContainer *ngIf="loaderService.showLoader$ | async" class="intro-container"
        [contentClassName]="'pageName'" [pageTitle]="loaderService.pageTitle$ | async" [x]="0"
        [y]="200"></app-page-loader>

    <div class="main-content">
        <router-outlet />
    </div>
</div>

<svg id="menu-shape" width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
  <!-- Start path: offscreen right, with a curve -->
  <path id="menu-path"
        fill="#ffffff"
        d="M100,0 
           Q 90,50 100,100 
           L 100,100 L 100,0 Z" />
</svg>