<app-top-bar-test class="top-bar"></app-top-bar-test>
<div class="content">
    <app-page-loader #introContainer *ngIf="loaderService.showLoader$ | async" class="intro-container"
        [contentClassName]="'pageName'" [pageTitle]="loaderService.pageTitle$ | async" [x]="0"
        [y]="200"></app-page-loader>

    <div class="main-content">
        <router-outlet />
    </div>
</div>
<footer class="footer d-flex justify-content-between">
    <p>Portfolio EXP001</p>
    <p>Code by Ramz</p>
</footer>