<app-top-bar-test class="top-bar"></app-top-bar-test>
<div class="content">
    <app-page-loader #introContainer *ngIf="loaderService.showLoader$ | async" class="intro-container"
        [contentClassName]="'pageName'" [pageTitle]="loaderService.pageTitle$ | async" [x]="0"
        [y]="200"></app-page-loader>

    <div class="main-content">
        <router-outlet />
    </div>
    <button class="floating-menu" (click)="toggleMenu()" [attr.aria-expanded]="floatingMenuOpen">
        <svg class="hamburger" viewBox="-10 -10 120 120">
            <path class="line" stroke="white" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"
                fill="none" d="m20 40 h60 a1 1 0 0 1 0 20 h-60 a1 1 0 0 1 0 -40 h30 v70" />
        </svg>
    </button>
    <svg class="floating-menu-container" [attr.width]="svgWidth" [attr.height]="svgHeight" preserveAspectRatio="none">
        <path id="menu-path" fill="#ffffff" [attr.d]="svgPath" />
        <foreignObject [attr.x]="0" [attr.y]="0" [attr.width]="menuContentWidth" [attr.height]="svgHeight">
            <div class="menu-content">
                <div class="menu-content-child">
                    <div class="nav-header-tab">
                        navigation
                        <hr />
                    </div>
                    <div class="menus-tab">
                        <div class="menus menu0">
                            <a (click)="onClickLogo()">home</a>
                            <div class="hash-container">
                                <svg class="hash-svg" viewBox="-20 -20 140 140">
                                    <path class="hash" stroke="black" fill="none" stroke-width="5"
                                        stroke-linecap="round" stroke-linejoin="round"
                                        d="m20 40 h60 a1 1 0 0 1 0 20 h-70 a1 1 0 0 1 0 -40 h30 l-10 60 a4 3 0 0 0 30 0 l10 -60" />
                                </svg>
                            </div>
                        </div>
                        <div class="menus menu1">
                            <a (click)="onMenuItemClick('works')">works</a>
                            <div class="hash-container">
                                <svg class="hash-svg" viewBox="-20 -20 140 140">
                                    <path class="hash" stroke="black" fill="none" stroke-width="5"
                                        stroke-linecap="round" stroke-linejoin="round"
                                        d="m20 40 h60 a1 1 0 0 1 0 20 h-70 a1 1 0 0 1 0 -40 h30 l-10 60 a4 3 0 0 0 30 0 l10 -60" />
                                </svg>
                            </div>
                        </div>
                        <div class="menus menu2">
                            <a (click)="onMenuItemClick('about')">about</a>
                            <div class="hash-container">
                                <svg class="hash-svg" viewBox="-20 -20 140 140">
                                    <path class="hash" stroke="black" fill="none" stroke-width="5"
                                        stroke-linecap="round" stroke-linejoin="round"
                                        d="m20 40 h60 a1 1 0 0 1 0 20 h-70 a1 1 0 0 1 0 -40 h30 l-10 60 a4 3 0 0 0 30 0 l10 -60" />
                                </svg>
                            </div>
                        </div>
                        <div class="menus menu3">
                            <a (click)="onMenuItemClick('contact')">contact</a>
                            <div class="hash-container">
                                <svg class="hash-svg" viewBox="-20 -20 140 140">
                                    <path class="hash" stroke="black" fill="none" stroke-width="5"
                                        stroke-linecap="round" stroke-linejoin="round"
                                        d="m20 40 h60 a1 1 0 0 1 0 20 h-70 a1 1 0 0 1 0 -40 h30 l-10 60 a4 3 0 0 0 30 0 l10 -60" />
                                </svg>
                            </div>
                        </div>
                    </div>

                    <div class="socials-tab">
                        socials
                        <hr />
                        <div class="socials-icons">
                            <a href="https://www.linkedin.com/" target="_blank">LinkedIn</a>
                            <a href="https://www.instagram.com/ram_ez_rk" target="_blank">Instagram</a>
                            <a href="https://x.com/Rameshr20276253" target="_blank">Twitter/X</a>
                        </div>
                    </div>
                </div>
            </div>
        </foreignObject>
    </svg>
</div>
<div class="overlay" *ngIf="floatingMenuOpen"></div>