<div class="topbar-container d-flex align-items-center">
    <div class="logo-container">
        <a (click)="onClickLogo()" class="logo">Code by Ramz</a>
    </div>
    <div class="menu-container d-flex">
        <div class="menu-item-container d-flex justify-content-end" (click)="onMenuItemClick(item)"
            *ngFor="let item of textItems; trackBy: trackByIndex">
            <span #textElement class="text" [attr.data-text]="item.text">
                {{ item.text }}
            </span>
        </div>
    </div>
</div>