.topbar-container {
    justify-content: space-between;
    font-family: 'Guton', sans-serif;
    padding: 20px 20px;
    height: 60px;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
}

.menu-container {
    width: max-content;
    justify-content: space-between;
    gap: 20px;
}

.logo-container {
    width: max-content;

    .logo {
        text-decoration: none;
        font-size: 1rem;
        color: #ffffff;
        cursor: pointer;
    }
}

.menu-item-container {
    width: 80px;
    // background-color: yellow;
    
}

.text {
    user-select: none;
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    line-height: 16px;
    height: 16px;
    overflow: hidden;
    cursor: pointer;
}