.topbar-container {
    justify-content: space-between;
    font-family: 'Guton', sans-serif;
    padding: 20px 20px;
}

.menu-container {
    width: max-content;
    // gap: 8px;
    // background-color: red;
}

.logo-container {
    width: max-content;

    .logo {
        text-decoration: none;
        color: #000000;
        font-size: 1rem;
    }
}

.menu-item-container {
    width: 110px; // set a width that fits your longest text nicely
    text-align: center;
    // background-color: yellow;
}

.text {
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    line-height: 16px;
    height: 16px;
    overflow: hidden;
    cursor: pointer;
}

.intro-container {
    position: fixed;
    top: 0px;
    z-index: 999;
}