@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');

/* You can add global styles to this file, and also import other style files */
// body {
// margin: 0;
// }

@font-face {
    font-family: 'Guton';
    src: url('assets/fonts/Guton-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Hide scrollbar by default */
body {
    overflow-y: auto !important;
    scrollbar-width: none !important;
    /* Firefox */
}

body::-webkit-scrollbar {
    display: none !important;
    /* Chrome, Safari, Edge */
}

/* Show scrollbar when user scrolls */
body.show-scrollbar {
    scrollbar-width: thin !important;
    /* Firefox */
}

body.show-scrollbar::-webkit-scrollbar {
    display: block;
    /* Chrome, Safari, Edge */
    width: 8px;
}

body.show-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
}