<!-- <svg *ngIf="showIntro" class="intro-container" [attr.width]="svgWidth" [attr.height]="svgHeight"
    preserveAspectRatio="none">

    <path [attr.d]="svgPath" fill="black" />

    <foreignObject x="0" y="200" [attr.width]="svgWidth" [attr.height]="svgHeight - 400">
        <div class="text-holder" xmlns="http://www.w3.org/1999/xhtml">
            <h1 #helloText class="hello-text">Hello</h1>
        </div>
    </foreignObject>
</svg> -->

<!-- <app-page-loader *ngIf="showIntro" class="intro-container" [contentClassName]="'hello-text'" [pageTitle]="pageTitle"
    [x]="0" [y]="200"></app-page-loader> -->

<div class="main-content">
    <!-- <app-tob-bar></app-tob-bar> -->
    <app-top-bar-test></app-top-bar-test>
    <!-- The rest of your home content goes here -->
    <!-- <p>Welcome to my portfolio!</p> -->
</div>

<!-- <div class="parent">
    <div class="spacer1"></div>

    <div class=" main spacer">
        <div class="animated-element">
            <h2>Animate Me</h2>
            <p>This is a simple card with a title and a description. It will animate as we scroll.</p>
        </div>
    </div>

    <div class="spacer2"></div>
</div> -->