<svg *ngIf="showIntro" class="home-intro-container" [attr.width]="svgWidth" [attr.height]="svgHeight"
    preserveAspectRatio="none">

    <path [attr.d]="svgPath" fill="#ffffff" />

    <foreignObject x="0" y="200" [attr.width]="svgWidth" [attr.height]="svgHeight - 400">
        <div class="text-holder" xmlns="http://www.w3.org/1999/xhtml">
            <h1 #helloText style="color: #000000;" class="hello-text">Hello</h1>
            <img class="logo-home" src="assets/icons/RamzOutlineTransparent.svg" alt="Logo">
        </div>
    </foreignObject>
</svg>

<div class="main-content">
</div>