<svg *ngIf="showIntro" class="home-intro-container" [attr.width]="svgWidth" [attr.height]="svgHeight"
    preserveAspectRatio="none">

    <path [attr.d]="svgPath" fill="#ffffff" />

    <foreignObject x="0" y="200" [attr.width]="svgWidth" [attr.height]="svgHeight - 400">
        <div class="text-holder" xmlns="http://www.w3.org/1999/xhtml">
            <h1 #helloText style="color: #000000;" class="hello-text">Hello</h1>
        </div>
    </foreignObject>
</svg>

<div class="main-content">
    <div class="marquee-container">
        <div class="marquee-track" #marqueeTrack>
            <span class="marquee-text">Ramzy - </span>
            <span class="marquee-text">Ramzy - </span>
            <span class="marquee-text">Ramzy - </span>
            <span class="marquee-text">Ramzy - </span>
        </div>
    </div>
</div>

<!-- <div class="parent">
    <div class="spacer1"></div>

    <div class=" main spacer">
        <div class="animated-element">
            <h2>Animate Me</h2>
            <p>This is a simple card with a title and a description. It will animate as we scroll.</p>
        </div>
    </div>

    <div class="spacer2"></div>
</div> -->